.dropdown-item.active{
    background-color:lightblue !important;
}

.dropdown {
    
    background-color:black !important;
}

.btn btn-secondary dropdown-toggle {
    background-color:lightblue !important;
}

#dropdownMenuButton {
    background-color:black;
    width:500px;
    background-image: linear-gradient(lightblue, #1a94ff);
    color:black;
    margin-top:10px;
}



#front {
    background-image: linear-gradient(lightblue, #1a94ff);
    color:black !important;
    margin-top:10px;
    width:500px;
    
}

.btn btn-info {
    background-color:pink;
}

footer {
    
    height:100px;
    margin-top:-23px;
    width:100%;
    text-align: center;
    
    background-image: linear-gradient(lightblue, #1a94ff);
}



.container {
    background-color:white;
    margin-bottom:50px !important;
    padding-bottom:23px !important;
    margin-top:50px;
    padding-top:20px;
    
    
    
    
    
    
}

.container-fluid {
    background-color:black;
    padding-bottom:10px;
    padding-top:10px;
}

body {
    font-family:verdana;
    background-color:lightblue;
}

/**  height:100px;
    margin-top:-23px;
    margin-left: 390px;
    text-align: center;
    width:1140px;
    background-image: linear-gradient(lightblue, #1a94ff);